/*div {
    border: 4px solid black;
    margin-bottom: 5px;
}*/

.demo-content {
    padding: 15px;
    background: #dbdfe5;
    border:2px solid black;
    margin: 2px;
}

.bg-alt{
    background: #abb1b8;
}

